.propositions {
  &__box {
    @include flex-space;
    flex: 100%;
  }
  &__contecst {
    flex: 80%;
    &-heading {
      text-align: left;
    }
    &-description {
      text-align: left;
    }
  }
  &__icon {
    flex: 20%;
  }
  &__img-block {
    width: 100%;
  }
  &__img {
    height: 519px;
  }
}
