.navbar{
  &__logo{
    color: $text-color-one;
    &-title {
      display: inline-block;
      font-weight: bold;
    }
    &:hover .logo__title{
      color: #fff;
    }
  }
  &__buy-btn {
    padding: 3.16vw 25px;
    font-size: 17px;
  }
}



