.callback {
    padding-top: 3.8vw;
    padding-bottom: 3.8vw;
  &__flex-wraper {
    flex-direction: row;
  }
  &__heading {
    flex: 25%;
    margin-bottom: 0;
  }
}
.subscribe-form {
    flex: 75%;
    flex-direction: row;
  &__inputs {
    flex: 0;
  }
  &__input{
    margin: 0 19px 0 0;
  }
}

.input {
  &:last-child {
    margin-right: 19px;
  }
}




