.callback__heading {
    margin-bottom: 29px;
}
.subscribe-form__inputs {
    flex-direction: row;
    justify-content: space-between;
}
.input {
    margin-right: 36px;
    margin-bottom: 26px;
}
.input:last-child {
    margin-right: 0;
}