.slidershow-container__mySlides {
    &-wraper {
        @include flex-center;
    }
    &-itemImg {
        margin-right: 23px;
        margin-bottom: 48px;
    }
    &-post {
        text-align: left;
    }
}

