.subheader {
  padding-top: 129px;
  padding-bottom: 70px;

  &__title {
    margin-bottom: 38px;
    font-size: 54px;
    line-height: initial;
  }
  &__slogan {
    margin-bottom: 9px;
    font-size: 21px;
    line-height: 1.5;
  }
}
