.subheader {
  padding-top: 156px;
  padding-bottom: 98px;

  &__title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.2;
  }
  &__slogan {
    margin-bottom: 9px;
    font-size: 21px;
    line-height: 1.5;
  }
}
