@import 'reset';
@import 'variables';


body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  @include flex-center;
  &__img {

    width: 43px;
    height: 41px;
    background-image: url("../img/Logo-main-sprite.png");
    background-position: 0 0;
  }
  
  &__title {
    margin-left: 18px;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.btn {
  @include flex-center;
  border-radius: 50vh;
  box-sizing: border-box;
  color: #fff;
  transition: 0.3s;
  &_pink {
    background-color: $bcg-color-accent;
    text-transform: capitalize;
    font-weight: 700;
    border: 1px solid $bcg-color-accent;
    &:hover {
      border: 1px solid $text-color-one;
      color: $text-color-one;
      background-color: #fff;
    }
  }
  &_grey {
    background-color: rgba(255, 255, 255, 0.15);
    text-transform: uppercase;
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
      color:  #7f6d78;
    }
  }
}

.clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

@import 'navbar/navbar';
@import 'header/header';
@import 'subheader/subheader';
@import 'proposition/prop';
@import 'rewievs/rewievs';
@import 'clients-Co/clients-Co';
@import 'pricing/pricing';
@import 'callback/callback';
@import 'footer/footer';



